doctype html
html
  head
    title Start
  body
    each article in articles
      article
        h1=article.title
        em=article.createdAt
        p=article.content
      hr
    form(method="POST" action="/")
      input(type="text" name="title" required)#title
      br
      textarea(name="content" required)#content
      br
      br
      input(type="submit" role="button" value="Speichern")
